@model PostViewModel

@using NewsBlog.Models.NewsViewModels

@{
    ViewData["Title"] = "Create Post";
}

@section Breadcrumb
{
    @Html.Partial("_Breadcrumb", "new post")
}

@using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="box box-primary">
        @Html.Partial("_CreateOrUpdate", Model)
        <div class="box-footer">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>
}
