@model PostViewModel

@using NewsBlog.Models.NewsViewModels

@{
    ViewData["Title"] = "Edit Post";
}

@section Breadcrumb
{
    @Html.Partial("_Breadcrumb", Model.Title)
}

<form asp-controller="News" asp-action="Edit" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="box box-primary">
        @Html.Partial("_CreateOrUpdate", Model)
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>