@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["BodyClass"] = "hold-transition login-page";
}

<div class="login-box">
    <div class="login-logo">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <b>_news</b>BLOG
        </a>
    </div>
    
    <div class="login-box-body">
        @RenderBody()
    </div>
</div>

@if (IsSectionDefined("Scripts"))
{
    @section Scripts {
        @RenderSection("Scripts")
    }
}
